<template>

<router-view />
  
  
</template>

<script setup>
  import Sidebar from './components/Sidebar.vue'
  import InicioSesion from './components/InicioSesion.vue'
  import Carousel from './components/Carousel.vue'
</script>

<style scoped>

</style>
